[2017-10-30 22:59] bluzi opened #1 "Message content is missing"
That's how the comment used to look like:

![image](https://user-images.githubusercontent.com/13808883/32199725-874cd100-bdd6-11e7-9582-9c0ac9082745.png)

Now, for some reason, the log is missing:

![image](https://user-images.githubusercontent.com/13808883/32199770-c09f8010-bdd6-11e7-9683-8011af74ea91.png)

[2017-10-30 23:02] bluzi opened #2 "TravisBuddy only comments on the first commit of the PR"
The payload of the first build of a PR contains the PR data (`pull_request_number`, etc), but the later commits doesn't.

We need to find a way to connect a build to a PR without the PR number (maybe via branch name or whatever), so we can fetch the PR number and comment on it.

[2017-11-01 00:06] bluzi commented on #2
Fixed
@davidb1

[2017-11-01 00:07] #2 closed

[2017-11-01 00:07] bluzi commented on #1
Finally fixed
@davidb1

[2017-11-01 00:07] #1 closed

[2017-11-01 00:09] bluzi opened #3 "Add resolvers for other test libraries"
Add resolvers and test repositories for other test libraries, such as:
- Karma
- Jest
- Jasmine
- ...

Also, we should add non-js libraries (Travis also supports Python, Ruby and more)

[2017-11-01 00:10] bluzi opened #4 "Find better V icon"
Should be free icon, under an open license (CreativeCommons)

[2017-11-05 23:53] #3 closed

[2017-11-05 23:53] #4 closed

[2017-11-05 23:54] bluzi opened #5 "Connect Heroku app to prod branch"

[2017-11-05 23:55] bluzi opened #6 "Fetch log output and show beautified version of it"

[2017-11-05 23:55] bluzi opened #7 "Add support for multiple jobs"

[2017-11-05 23:55] bluzi opened #8 "Enable non-www version of https://travisbuddy.com"

[2017-11-05 23:56] bluzi opened #9 "Improve documentation, add https://www.travisbuddy.com to documentation"

[2017-11-05 23:56] bluzi opened #10 "Create website"

[2017-11-05 23:56] bluzi opened #11 "Design Logo and profile photo for TravisBuddy"

[2017-11-05 23:57] bluzi opened #12 "Create an e2e test"

[2017-11-05 23:57] bluzi opened #13 "Add default scripts to all languages"
ref: https://docs.travis-ci.com/user/languages/java/

[2017-11-06 19:12] #5 closed

[2017-11-06 19:58] bluzi opened #14 "Add success message"

[2017-11-06 20:00] #13 closed

[2017-11-06 20:37] #7 closed

[2017-11-06 20:46] bluzi opened #15 "Add ESLint"

[2017-11-06 21:05] #14 closed

[2017-11-06 21:28] #15 closed

[2017-11-10 20:08] #10 closed

[2017-12-02 09:41] #11 closed

[2017-12-02 10:31] bluzi opened #23 "Improve the README"

[2017-12-04 20:25] #9 closed

[2017-12-04 23:49] TravisBuddy opened #36 "Don't show script if its log is empty"

[2017-12-05 21:27] bluzi opened #37 "TravisBuddy Reactions - Comments"
## Summary
The idea of TravisBuddy Reactions is to allow contributors to communicate with TravisBuddy using comments and labels.

### `@TravisBuddy stop`
Commenting `@TravisBuddy stop` should force TravisBuddy to stop commenting on this PR.
`routes/api.routes.js` is the root of the API, every request to TravisBuddy API is directed through there, so that's probably the right place to query GitHub A

[2017-12-07 17:57] bluzi opened #38 "Add expandable logs"
<details>
  <summary>Click to expand</summary>
  whatever
</details>

[2017-12-08 18:32] bluzi commented on #38
test

[2017-12-08 18:41] bluzi commented on #38
dsfdsdsfds

[2017-12-08 18:45] bluzi commented on #38
dfdsds

[2017-12-08 19:14] bluzi commented on #38
OK!

[2017-12-09 17:54] #38 closed

[2017-12-09 23:49] #36 closed

[2017-12-09 23:49] bluzi opened #41 "Filter out scripts that exited with code 0"
## Summary
Currently, TravisBuddy collects the outputs of every test script executed by TravisCI, and adds it to the comment.
However, some of those scripts may have passed, so there's no need to add them to the comment.
A script has failed if its exist code is greater than 0, as 0 means success.

## How to resolve?
The code in `resolvers/simple.resolver.js` is in charge on breaking the build log

[2017-12-10 00:17] bluzi opened #43 "Eliminate duplicate logs"
## Summary
Sometimes, repository owners configure TravisCI to execute multiple scripts that ends up generating the same output. These duplicate logs should be eliminated.

## How to resolve?
In `handlers/failure.handler.js` you'll find a variable named `jobs`, that contains an array of executed scripts and their outputs - filter this variable and eliminate the duplicate logs before it's being used

[2018-02-02 15:20] kenman345 opened #46 "Question about allowed to fail jobs"
Hi,

So I have not used the bot yet but it looks like exactly what I am looking for. I was wondering though what happens if I have allowed_failure jobs and those fail but the others pass? Would I still get a notification? We have some validations we want to know about to make sure links are not dead or data in alphabetical order but they're not hard stops to being able to merge a PR or not. So, ca

[2018-02-02 17:51] bluzi commented on #46
Hey @kenman345,

We actually never tested `allow_failures` before. I can tell you that [as you can see here](https://github.com/bluzi/travis-buddy/blob/32326b36ded12d2bb2e5bdfa5bf015d29f56dcf4/routes/api.routes.js#L35), @TravisBuddy only comments on PR if the Travis returns `failure` as the status for the whole PR, so my guess is that @TravisBuddy won't create a comment if all the jobs are success

[2018-02-02 18:43] kenman345 commented on #46
Yea, I'm wondering if I'd need my main build to run test scripts only when its a PR just to allow this functionality. I normally test on a forked repo of the main repo but it seems travisbuddy follows the repos and I dont need my public repo gaining traction or anything.

What about multiple jobs and success notifications are enabled? Would it grab logs from all three of my jobs?

[2018-02-03 22:33] bluzi commented on #46
No it won't, it'll create one comment

[2018-02-05 13:27] kenman345 commented on #46
So If my tests are just a ruby script I wrote? will it identify these as checks? I see your repo uses Jasmine to test things, which is more of a framework that I wouldnt need.

Perhaps it might be useful if I could test this on my personal public repo, but could you unfollow the repo for me if I do?

[2018-02-10 19:40] mzfr opened #48 "How do you get author name?"
I am working on a tool similar to travis buddy.  Travis doesn't provide the pull request author name by default: https://docs.travis-ci.com/user/environment-variables/#Default-Environment-Variables

So, how does travis buddy figure out the user? (as seen in the screenshot)

[2018-02-12 09:19] bluzi commented on #48
Hey @mzfr,

Travis actually provides the author name in the payload, as seen in this example payload: https://github.com/bluzi/travis-buddy/blob/master/sample-payloads/payload2.json#L45

If a full name is not available, Travis will provide the nickname instead.

Hope this helps

[2018-02-12 09:25] bluzi commented on #46
Hello @kenman345,

Sorry for the late response, it's been a busy week.

You don't have to use a test framework in order to use @TravisBuddy, a simple Ruby script (or any other code supported by Travis) is just fine - just make sure to print some logs and @TravisBuddy will include these logs in its comment.

Not sure what you mean by "unfollow the repo", but if you need anything - I'll do my best t

[2018-03-03 03:56] #48 closed

[2018-03-12 15:05] mzfr commented on #3
@bluzi Does TravisBuddy support Python? We're looking for way to post comments on GitHub pull requests but we don't really have any testing framework in place.

Can we somehow configure TravisBuddy to post part of the output of Travis' Build Log as a comment.

So for eg. every line in the log that starts with `TravisBuddy: ` could be posted as a comment.

This will generalize the tool to work with

[2018-03-12 15:21] bluzi commented on #3
Hey @mzfr,

Thanks for reaching out :) This is exactly how TravisBuddy behaves, except that it only takes the "interesting" lines from the build log, which are the lines where your test script runs. TravisBuddy dumps the part of the log where TravisCI sets up the environment.

TravisBuddy should support Python (and any language), however as far as I know it never been tested in production, so I su

[2018-03-12 15:22] Razzeee commented on #3
Will try it this evening when I'm home. Thanks!

[2018-03-12 15:29] bluzi commented on #3
@Razzeee No problem, please let me know how it went if you can

[2018-03-12 17:48] mzfr commented on #3
I tried it! (see output comment [here](https://github.com/mzfr/Python-Scripts/pull/4#issuecomment-372399038))

It can output what is printed by the python process onto stdout, but @bluzi is there a way to configure the comment template? to remove things like `1st Build` etc.

Maybe there could be a raw mode, which comments EXACTLY what was outputted by the process? then we could just send out a pr

[2018-03-12 18:00] bluzi commented on #3
Good, it works just as I expected.

I thought about adding templates, and the codebase is ready for that. The idea was to enable template editing via the dashboard at https://www.travisbuddy.com, however, since the dashboard is not implemented yet, there's still no way of achieving that.

But no worries, enabling just raw mode is as easy as writing few lines of code, and I can definitely do that.

[2018-03-12 18:15] mzfr commented on #3
@bluzi Damn, you're fast! :small_airplane:

So if we have raw mode, I don't see what else we could want. We can just comment whatever we want to without having to setup our infrastructure or anything.

@Razzeee Do you foresee any issues with this approac?

[2018-03-12 18:35] Razzeee commented on #3
Only thing that comes to mind, is that we have nothing like we we did for the labels with the old approach.

Basically labeling the pr either as 'Travis successful' or 'Travis failed'

[2018-03-12 18:38] Razzeee commented on #3
@mzfr While it will work, I'm not so happy about it. As us printing markdown into the log in travis build will enable this to work, but the log on travis-ci itself will probably be not as pretty. Not really a blocker but not ideal either.

[2018-03-12 18:39] mzfr commented on #3
Oh, right! totally forgot about the labels.

Maybe we can convince @bluzi to add this feature as well :wink:

We want pull requests to be labeled `Tests Passed` / `Tests Failed` depending on what the current status is, so that the maintainers can just focus on those PRs.

[2018-03-12 18:41] mzfr commented on #3
@Razzeee

That is where templates could come in?

We just output standard colored lines onto the Travis log and then have TravisBuddy pick those up and wrap them in a template (perhaps from a file `.travis-buddy-template`) and then comment that?

[2018-03-12 18:45] Razzeee commented on #3
That should work, as long as that template is flexible, whatever that means in this context. But wasn't clear that this is in scope, as it was only mentioned by @bluzi in context of the dashboard website.

[2018-03-12 18:54] mzfr commented on #3
@bluzi Thanks for your prompt response.

I'm now testing the raw template, and will let you know how it goes.

@Razzeee Do we have any issues in adding @TravisBuddy as a contributor to Kodi's repos?

[2018-03-12 19:00] Razzeee commented on #3
I don't think that will be a problem but @martijnKaijser will have the last word

[2018-03-12 19:04] mzfr commented on #3
@bluzi That worked! :tada: [See Here](https://github.com/mzfr/Python-Scripts/pull/4#issuecomment-372424290)

Though I think there's some issue with formatting of first line. Compare the comment with the first line of [Travis log](https://travis-ci.org/mzfr/Python-Scripts/builds/352490202)

BTW, I don't think there's any way to get colored lines in comments except for in the diff format. Maybe we c

[2018-03-12 19:14] Razzeee commented on #3
I don't really care about colors in github comments, just to be upfront :)

What's a problem is, that the header
[code]

is missing in rawmode and thus we're not pinging and are not nice anymore :/
Not sure if we can just pull that from travis variables, at least I can't find a env variable that does that.

[2018-03-13 08:45] bluzi commented on #3
@mzfr

Yup, looks like i forgot to trim the output. Will fix it soon.

@Razzeee @mzfr

I thought the whole idea of raw mode is that you're not getting the header, so you can write so you can write your own markdown using the build log.

[2018-03-13 11:40] Razzeee commented on #3
The header is fine. I think the main reason is that we want to trim some of
the lines our log returns before it gets relevant. And also not a big fan
of hiding it in a folding box. Correct me please @mzfr

On Tue, 13 Mar 2018, 09:47 bluzi, <notifications@github.com> wrote:

[2018-03-14 09:56] bluzi commented on #3
Alright, so just confirm that's really what you want and I'll make the changes. @mzfr

[2018-03-14 14:23] mzfr commented on #3
We want the final comment to be something like:

[code]

I feel the best way to fix this is via a template. TravisBuddy will do some pre-processing of the template to fill in variables like `{pull_creator}` etc. and will return the final form.

What do you guys think?

[2018-03-14 14:29] bluzi commented on #3
I can easily replace the raw mode with this template you're suggesting, just be sure this is what you want and I'll set it up.

[2018-03-14 14:33] mzfr commented on #3
@bluzi Are you talking about hardcoding exactly this template? or keeping it general? (say from a `.travis-buddy-template` file) Ideally it'd be better that we have a general method in case we need to change templates etc.

[2018-03-14 15:12] bluzi commented on #3
Well, at first I thought about hardcoding it for now, but you're right, I'll make a general implementation and will let you know once it's ready (probably in the next few hours)

Then you'll be able to control your template and modify it whenever you want without my help.

[2018-03-15 20:23] bluzi commented on #3
@Razzeee @mzfr

I made the changes as we discussed, you may now use your own template by adding a file named `travis-buddy-failure-template.md` to the root of repository.
If TravisBuddy will find this file in the branch it's commenting on, it'll be used as the comment's template.

The content of the file must be a valid [mustache](https://github.com/janl/mustache.js/) template.
If you don't know t

[2018-03-15 20:25] bluzi opened #51 "Convert asynchronous functions to async/await syntax"
Currently, there are many of async operations in the project, and unfortunately I didn't wrote it using the newer async/await syntax.
Since now it's fully supported by Node, I will find it must more easy to maintain if it'll be implemented using this syntax.

This is a great first issue, feel free to jump in.

[2018-03-16 15:50] Eddie-CooRo commented on #51
I'd like to help with this issue

[2018-03-17 08:33] Razzeee commented on #3
Something is wrong with the console result, it seems to swallow stuff.
`Addon i icon exists
icoources/images/svg/chargers.svg`

https://github.com/Razzeee/repo-plugins/pull/1#issuecomment-373903664

https://travis-ci.org/Razzeee/repo-plugins/builds/354653785?utm_source=github_status&utm_medium=notification

[2018-03-17 08:36] Razzeee commented on #3
**{{author}}** Also seems to not be the github name of a user

[2018-03-17 12:36] bluzi commented on #3
Hey @Razzeee,

I don't see what's wrong in the log you attached, can you be more specific?
Also, as I mentioned before, TravisBuddy only takes the relevant data from the build log, and omitted the parts where TravisCI configures the environment, so only the output of the test commands you're running will be commented.
If that's the issue - that's expected behavior, but I can make a flag that tell

[2018-03-17 12:58] #46 closed

[2018-03-17 13:09] bluzi opened #53 "TravisBuddy Reactions - Labels"
## Summary
The idea of TravisBuddy Reactions is to allow contributors to communicate with TravisBuddy using comments and labels.

### `travisbuddy-ignore` label
Adding a label named `travisbuddy-ignore` to a PR should force TravisBuddy to ignore this PR and stop commenting on it.
Just like in #37, `routes/api.routes.js` is probably the right place to query GitHub and see if the label is presented

[2018-03-17 13:10] #12 closed

[2018-03-17 13:10] #8 closed

[2018-03-17 13:10] #6 closed

[2018-03-17 15:55] Eddie-CooRo commented on #51
Hi
I'd like to help with this issue

[2018-03-17 18:03] TravisBuddy opened #55 "Test ticket from Code Climate"

[2018-03-17 18:50] Razzeee commented on #3
Heres an example, travisBuddy prints this in the comment:
![grafik](https://user-images.githubusercontent.com/5943908/37558903-f1d90848-2a1b-11e8-9d2b-30f581d38dbd.png)

![grafik](https://user-images.githubusercontent.com/5943908/37558916-2ea157b2-2a1c-11e8-9d77-8e43eae07077.png)

MIght be due to the raw log having some markup, but interestingly the first rows that get mangled don't have such.

![

[2018-03-18 05:55] chrisf opened #56 "Use in private repos"
What type of work is left to get this working for private repos?

[2018-03-18 12:27] bluzi commented on #56
It's a long one:
- We need to have a dashboard on the website (https://www.travisbuddy.com/ - currently the dashboard is not implemented)
- You should be able to login to the dashboard using your GitHub account
- After logging in, you should be able to provide an access token of a user that you want to use for the comments, the user must be a collaborator in the private repo, or it won't work.
- T

[2018-03-18 12:30] bluzi commented on #3
Yup, looks like it's happening because of the markup. I guess we should be able to strip the markup somehow, but it requires some research and probably will take some time.

As to the @mention - I'll take care of it soon and will give you the name of the variable that will always return a GitHub username.

[2018-03-19 14:19] TravisBuddy opened #57 "Fix "method_lines" issue in utils/pullrequest.js"
Function `pullRequest` has 45 lines of code (exceeds 25 allowed). Consider refactoring.

https://codeclimate.com/github/bluzi/travis-buddy/utils/pullrequest.js#issue_5aae5dcc685bd90001000032

[2018-03-19 14:20] efueger commented on #57
test from Code Climate Support - 👍 looks good!

[2018-03-19 14:34] TravisBuddy opened #58 "Fix "similar-code" issue in utils/logger.js"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/bluzi/travis-buddy/utils/logger.js#issue_5aae5dcf685bd90001000036

[2018-03-19 14:38] TravisBuddy opened #59 "Fix "method_lines" issue in handlers/failure.handler.js"
Function `failureHandler` has 26 lines of code (exceeds 25 allowed). Consider refactoring.

https://codeclimate.com/github/bluzi/travis-buddy/handlers/failure.handler.js#issue_5aae5dcd685bd90001000033

[2018-03-19 14:38] #55 closed

[2018-03-19 16:42] kenman345 opened #61 "Question about functionality"
I gave your travisBuddy a try here: https://github.com/acceptbitcoincash/acceptbitcoincash/pull/699#issuecomment-374276876

It outpout a ton of the log even though it was able to  identify that the "rake" command is what failed the build. So why did it output so much of the logs?

[2018-03-19 16:57] bluzi commented on #61
That's a bug.
This is the log of the failed build: https://api.travis-ci.org/v3/job/355449814/log.txt

I wonder where TravisBuddy found the text in the comment.
I'll have check and get back to you, but know that the log will be much shorter.

[2018-03-20 16:37] mzfr commented on #3
hey @bluzi  can you please have a look at my [repo](https://github.com/mzfr/test-travis-buddy/tree/tests) I'm unable to get Travis buddy to work. What am I missing ?

[2018-03-20 17:26] bluzi commented on #3
Hey,

It's definitely a problem with the new templating feature, i'm getting an error in `mustache` (`Unclosed tag at 249`), it could be a problem with your template (probably not), and it could be something else.

I'll check later/tomorrow when I have more time and let you know.

[2018-03-20 19:42] Razzeee commented on #3
@mzfr your last tag is missing a closing bracket it's `{{/jobs}` but should be `{{/jobs}}`

[2018-03-21 06:55] mzfr commented on #3
@razzeee thank you for pointing that out

[2018-03-21 08:40] bluzi commented on #3
Nice catch @Razzeee

[2018-03-23 18:00] kenman345 commented on #61
https://github.com/acceptbitcoincash/acceptbitcoincash/pull/758#issuecomment-375743788

got a similar output this time too

[2018-03-23 20:40] kenman345 commented on #61
I see you forked our repository, Hopefully you're finding something

[2018-03-24 17:06] bluzi commented on #61
Hi @kenman345

Yup! I have forked your repository and found the issue, looks like your `.travis.yml` configuration was different from what we used to handle, and it caused the structure of the payload we're receiving from Travis to change a bit.

Anyway, I made the required change, your case definitely helped improving @TravisBuddy, so thanks for that!

I [ran some tests](https://github.com/bluzi/

[2018-03-24 18:07] bluzi commented on #3
Hey guys,

Just an update: @TravisBuddy  now supports @mention, by replacing `{{author}}` in `{{pullRequestAuthor}}` (which results in the GitHub username of the user created the PR)
You can see a sample here: https://github.com/bluzi/name-db/pull/501#issuecomment-375912258 (just a result of a test)

I also updated the default template to @mention the author :)

As to the markup issue, I tried loo

[2018-03-24 18:18] #57 closed

[2018-03-25 02:26] Razzeee commented on #3
I guess you need to grep for the color markup and just remove that. See here for the python code where we set it: https://github.com/xbmc/addon-check/blob/master/common.py#L2

[2018-03-25 14:14] bluzi commented on #3
@Razzeee Could be, but look at the image I posted, I don't see the markup characters:

![image](https://user-images.githubusercontent.com/13808883/37876046-ff6bb1b0-304f-11e8-93c5-29eec99d279d.png)

[2018-03-25 17:53] Razzeee commented on #3
Yes, I would think that they get swallowed by the box element (maybe) along with those missing lines and letters.

[2018-03-25 18:11] bluzi commented on #3
Don't think so, I still can't see it even though I removed the box:

![image](https://user-images.githubusercontent.com/13808883/37878360-b21ad7da-3070-11e8-8d7d-73e9aa74b2da.png)

We're removing non-ansi characters using `strip-ansi` here: https://github.com/bluzi/travis-buddy/blob/master/utils/utils.js#L28. Do you want to see those characters?

[2018-03-28 10:58] LuisFernando100 opened #67 "Message on succesful build"
Hello, I am trying to make a success message which I am seeing from previous commits that it is implemented but I have not been able to make it work. The system works on failed builds and the comments are created according to the template on the root directory, but on success no message is made at all.

I would like to know if this is a bug, the feature is not finished being implemented yet, or I

[2018-03-28 11:34] bluzi commented on #67
Hey @LuisFernando100,

This is a known bug we're facing, the success message feature is not widely used by repositories, as disabling it reduces spam and noise, and therefore it was barely tested in production, so we only found out it's broken few days ago. (Thanks to @nemchik)

Thanks for opening this issue, I'll let you know when its solved and tested on a fork of your repository.

[2018-03-28 18:12] bluzi commented on #67
@LuisFernando100,

I deployed the fix, you should start receiving success messages.

[2018-03-28 18:12] #67 closed

[2018-03-28 18:23] bluzi commented on #3
@Razzeee, let's be on the same page: I thought you wanted those characters stripped.
If you want I can make sure they'll appear, but there is no way to add colors to GitHub comments.

[2018-03-28 18:27] Razzeee commented on #3
Yes, markup (as in color) characters stripped is fine. But for some reason we're loosing more characters along the way. Try reading the above screenshot, line 6: `Addon i icon exists`
In the original raw log that's two lines `Addon id matches foldername
Image icon exists`
Which somehow get mangled into that. Just as an example, the lines following that one get even crazier.

[2018-03-28 18:31] bluzi commented on #3
Right, I see what you mean now. Will have a look soon.

[2018-03-28 21:17] LuisFernando100 commented on #67
Yeah, it works now, thanks.

For the future, a similar feature for success templates could be made, but if its not widely used as you said then I guess for now its more than enough.

[2018-03-28 21:39] bluzi commented on #67
Hey @LuisFernando100, I agree, [added](https://github.com/bluzi/travis-buddy/pull/70).

[2018-03-28 23:04] bluzi commented on #61
Closing for now, if you have any more questions let me know.

[2018-03-28 23:04] #61 closed

[2018-03-28 23:45] bluzi opened #72 "Insert modes"
## Summary
Currently, what stops some repository owners from using @TravisBuddy is the noise and spam it does, since it comments a new comment every time the build fails.

The current mode will be `append` mode, where @TravisBuddy creates a new comment every time.
`update` mode will tell @TravisBuddy to create a single comment, and if a comment already exists in the pull request, it will update th

[2018-03-28 23:52] bluzi opened #73 "Add travisBuddy node in .travis.yml"
## Summary
@TravisBuddy should be able to pull configurations from a node `travisBuddy` in `.travis.yml`.
Example structure:
[code]

There should be no required fields (even `travisBuddy` isn't required)

## How to resolve?
Add `configuration.js` to `utils/`, and make it a module that loads the configuration from the `.travis.yml` of a repository and query it.

In `routes/api.routes.js`, use `util

[2018-03-28 23:56] #23 closed

[2018-03-29 00:01] bluzi opened #74 ""Deploy to Heroku" button"
Add "Deploy to Heroku" button to `README.md`

https://devcenter.heroku.com/articles/heroku-button

[2018-03-29 00:19] #51 closed

[2018-03-29 01:13] alejandronanez commented on #74
I can take this if you don't mind!

[2018-03-29 09:40] bluzi commented on #74
Sure @alejandronanez, thanks

[2018-03-30 23:41] bluzi opened #78 "Handle "errored" requests"
## Summary
A Travis build has 3 main states: `passed`, `failed` and `errored`. Currently, we only handle the first two, we need to start handle `errored` too.

[As BanzaiMan pointed out](https://github.com/travis-ci/travis-ci/issues/9376), `errored` means the build failed because something unrelated to the tests, like a problem a dependency or the build process itself.

## How to resolve?
There ar

[2018-03-31 04:06] alejandronanez opened #79 "Add prettier"
I’ll take care of this one. I created the issue just to keep track of things!

[2018-03-31 17:15] #78 closed

[2018-03-31 17:43] bluzi commented on #3
@Razzeee, [I've tried to reproduce the issue with a test](https://github.com/bluzi/name-db/pull/501#issuecomment-377710315), it doesn't reproduce. I'm getting the feeling that maybe this was a temporary issue with TravisCI's webhook payload.

Can you please try and add another commit to https://github.com/Razzeee/repo-plugins/pull/1 and see if it still happens?

[2018-04-01 00:55] #72 closed

[2018-04-01 02:00] #43 closed

[2018-04-01 10:34] Razzeee commented on #3
@bluzi seems to still be there

https://github.com/Razzeee/repo-plugins/pull/1#issuecomment-377777348
diff it with
https://travis-ci.org/Razzeee/repo-plugins/builds/360839581?utm_source=github_status&utm_medium=notification

[2018-04-01 13:14] #41 closed

[2018-04-02 05:44] chrisf commented on #73
I'd like to help with this

[2018-04-02 08:28] bluzi commented on #73
Thanks @chrisf, if you have any questions feel free to reach out.

[2018-04-02 12:14] bluzi commented on #73
Note that the idea is to create a mechanism that we'll be able to easily expand in order to query different properties from `travisBuddy` node in `.travis.yml`

[2018-04-02 14:26] Razzeee commented on #3
Yay, looks like a complete log now
https://github.com/Razzeee/repo-plugins/pull/1#issuecomment-377940568

Can you share what was causing this?

[2018-04-02 15:16] chrisf commented on #73
If the config options are set in both `.travis.yml` and the request query string, which should take priority?

[2018-04-02 15:21] TravisBuddy commented on #73
Good question, let's go with `.travis.yml`.

On Mon, Apr 2, 2018, 18:16 Chris Fitzmorris <notifications@github.com>
wrote:

[2018-04-02 16:05] maracuja-juice opened #89 "TravisBuddy only one comment in Pull Request"
This is a feature request.

Let's say a build fails twice:

- **Expected Behaviour:**
Travis Buddy only comments once and updates his comment. (Similar to how Codecov does this)
- **Current Behaviour:**
What Travis Buddy does is comment 2 times on the pull request.

This way there will be less "_spam_" and with this featureI would disable the "on_success" flag.

This could either be the new standa

[2018-04-02 17:13] bluzi commented on #89
Hey @maracuja-juice,

First of all, thanks!

Second,
I'm glad to say the feature you're requesting is already implemented and live in production!
[As you can see](https://github.com/bluzi/travis-buddy/issues/72), I implemented this few days ago. It still haven't been tested on a real repository in production, but feel free to try it yourself and be an alpha tester :)

Just change the webhook in yo

[2018-04-02 17:17] bluzi commented on #3
Glad to hear.

It's actually turned out to be a result of a weird behavior of TravisCI we're experiencing: Sometimes, TravisCI triggers the webhook before it finished to fully generate the build log.
We've seen it before in a form of an incomplete build log that after few seconds turns into a complete log, and in your case it was a corrupted build log that after few seconds becomes a valid log.

I

[2018-04-02 17:28] bluzi commented on #3
Created an issue: https://github.com/travis-ci/travis-ci/issues/9429

[2018-04-02 19:16] maracuja-juice commented on #89
Hey that's really cool. I will try this 9ut and report back.
If you want I can add this to the docs after I tested it

[2018-04-02 20:01] #37 closed

[2018-04-02 20:48] bluzi commented on #89
@maracuja-juice I'm afraid I mislead you: it's `https://www.travisbuddy.com/?insertMode=update`, not `?insert=update`. My bad!

[2018-04-02 20:51] maracuja-juice commented on #89
Oh okay. Just wanted to tell you that it doesn't work :)

[2018-04-02 21:05] maracuja-juice commented on #53
This sounds interesting. I'd like to help with this.
Just had a short look into this.
What wrapper do you use for the GitHub API / Where can I find the docs?
Because as far as I saw a getLabels functionality isn't implemented in utils.js yet.

[2018-04-02 21:07] maracuja-juice commented on #89
Hmm am I doing something wrong or why is he still commenting twice?
See here:
https://github.com/maracuja-juice/notifications-for-spotify/pull/52

[2018-04-03 08:03] bluzi commented on #89
Hey, you're not doing anything wrong, I tested it myself and it doesn't work for some reason. I'll have a look later today.

[2018-04-04 00:08] bluzi commented on #89
Finally solved it: https://github.com/bluzi/travis-buddy/pull/100

Please let me know if it works for you now

[2018-04-04 00:29] bluzi commented on #3
@Razzeee @mzfr Do you guys need anything else in order to integrate?
BTW, I advise you to take a look at https://github.com/bluzi/travis-buddy/blob/master/whats-new.md :)

[2018-04-04 07:07] maracuja-juice commented on #89
Hey cool that works now! (just tested it on the pull I linked above)
I also had a small look into the code for this yesterday but couldn't see anything wrong in the code. Would like to know how you solved it in the end.

[2018-04-04 07:07] #89 closed

[2018-04-04 07:14] Razzeee commented on #3
So to have it print the same things on failure and success we would need two configs according to https://github.com/bluzi/travis-buddy/blob/master/whats-new.md#custom-templates ?
And what's the error state? When it fails on the travis side of things?

[2018-04-04 09:40] bluzi commented on #3
Yup, you're going to need two templates.
Error means something went wrong with the build itself, could be a TravisCI error, but could also be something wrong with the builds process that has nothing to do with the test script.

https://github.com/travis-ci/travis-ci/issues/9376

[2018-04-04 09:46] bluzi commented on #89
Glad to hear it works :)

The issue caused because of the way we used to cache the comments of an issue, a bug caused the cache to live forever, and so TravisBuddy couldn't tell there's already a comment.

[2018-04-05 14:47] bluzi commented on #73
Need any help @chrisf?

[2018-04-05 14:48] bluzi commented on #74
Are you handling it @alejandronanez?

[2018-04-05 14:52] alejandronanez commented on #74
Hey @bluzi, I read a little bit about it but I was short of time the last couple of days. I think I can take a look at it finally today or tomorrow tops.

[2018-04-06 11:07] #74 closed

[2018-04-06 14:35] #58 closed

[2018-04-07 01:46] #73 closed

[2018-04-07 15:49] #59 closed

[2018-04-07 15:56] bluzi commented on #53
Sorry, missed this comment somehow.

I'm using a fork of [github-tools/github](https://github.com/github-tools/github), that can be found here: [bluzi/github](https://github.com/bluzi/github).
I needed some more functionality at some point and had to fork it to add few things.

Querying the labels really is the challenge of this task, you can read about it at https://developer.github.com/v3/.

As

[2018-04-07 16:28] maracuja-juice commented on #53
Okay. Found this method:
[code]
I want to look into this sometime until the end of next week.

[2018-04-07 17:49] maracuja-juice commented on #53
Okay thanks @bluzi. I began looking into this. I think I need this method here https://developer.github.com/v3/issues/labels/#list-labels-on-an-issue but I can't find it in the docs of the github-tools.
So I think we need a new method there?

[2018-04-07 17:58] bluzi commented on #53
Yup, `github-tools` suck. That's why I created [this fork](https://github.com/bluzi/github) when I needed a method that was also missing there.

IMHO the best thing would be if you'd make a PR that adds `listLabels` to [my fork](https://github.com/bluzi/github), and then we'll publish it and use it in TravisBuddy.

What do you think?

[2018-04-07 18:00] maracuja-juice commented on #53
@bluzi Sounds good. I'll look into that now.

[2018-04-07 18:09] maracuja-juice commented on #53
I think I need pagination for this aswell like the change you made to the comment list methods, right?

[2018-04-07 18:51] bluzi commented on #53
Probably. If I remember correctly every method in GitHub API brings up to 30 entities per page, so 30 labels on one issue is pretty rear, but just in case i guess

[2018-04-07 18:55] bluzi commented on #53
And yeah, I guess it worth a PR in the upstream repo, though it's true it's no longer maintained.

I'm thinking about taking this fork as a project to make a decent GitHub API for Node, since it's not the first time github-tool disappoints me, and it doesn't seem like there's an alternative.

[2018-04-07 19:32] maracuja-juice commented on #53
@bluzi Okay, just in case then.

And for the GitHub API:
I have also looked around for alternatives. I have found two repos:
- The one you use now
- And: https://github.com/k33g/gh3

Haven't looked into the second one yet. But your idea also sounds good, check the second one out first though.

[2018-04-07 20:46] chrisf commented on #56
Where is this currently being deployed to? And do you have any preference for a database?

[2018-04-08 10:33] Razzeee commented on #3
Another question, just because it doesn't seem to be in the docs, will travisBuddy need repo access now to get the PR creators identity?

[2018-04-08 12:26] bluzi commented on #3
Nope

[2018-04-12 11:14] Razzeee commented on #3
Do successfull executions also set all variables? Doesn't seem like it?

https://github.com/xbmc/repo-plugins/pull/1783#issuecomment-380666802

[2018-04-13 13:55] bluzi commented on #53
`gh3` doesn't even support promises.
As far as I could find, there are no good products in the market of github api wrappers for Node :(

[2018-04-13 13:58] bluzi commented on #3
They don't set the log variables, I'll add support for it soon.

[2018-04-13 15:47] maracuja-juice commented on #53
Okay that's sad to hear. For now I think the best way to move forward is to extend the github tools repo.

Have you released the new version to npm?

[2018-04-13 20:27] bluzi commented on #53
That's awesome, I'd even like to convert all the code related to `github-api` to use this library.

[2018-04-26 15:24] maracuja-juice opened #107 "Travis Buddy - Show more information on error of build"
It would be nice if Travis Buddy showed more information in his comment when the Build evals to status: "errored"

[Example PR for the current behaviour](https://github.com/maracuja-juice/ultimate-tic-tac-react/pull/71) (will probably change soon so here to document what he says:
[code]
[Example Build where that happened to me](https://travis-ci.org/maracuja-juice/ultimate-tic-tac-react/builds/371

[2018-05-03 00:00] tustin2121 commented on #53
I'd like to add this ability should be stated somewhere on the comment it posts. Because I don't care about Travis results: I don't use it, but the fork of the very active project I forked from does, and I'd really prefer if it *didn't* comment every time they push yet another commit to their master I've got a PR from... And I've gotten very annoyed with this bot filling my inbox with pointless co

[2018-05-03 04:24] maracuja-juice commented on #53
@tustin2121 This isn't implemented yet. Easiest way currently is to remove it from .travis.yml

[2018-05-03 12:34] bluzi commented on #53
@tustin2121

a. Your comment is not related to the above issue at all, no idea why you chose to post it here
b. Finding out how to disable TravisBuddy is as easy as pressing its name to enter its profile page, pressing on the repository link and reading the README.

[2018-05-03 13:10] tustin2121 commented on #53
@bluzi a) This issue mentioned the problem I was having with it posting in a Pull Request, which it was doing several times in a single day. b) That's too many clicks, in my opinion. But never mind anyway, because I recently found what caused the bot to suddenly become interested in my PR (added by the upstream project and not me), and I'll be putting a bullet in that bit. So, I apologize for the

[2018-06-02 07:59] Razzeee opened #108 "Success template should still be able to attach logfile"
As discussed previously it should be able to use something as https://github.com/xbmc/repo-plugins/blob/jarvis/travis-buddy-success-template.md

I think you mentioned it's blocked by travis itself, but this issue would be nice to track it.

[2018-06-07 14:34] silasary opened #109 "TravisBuddy cannot obtain log excerpts from Matrix builds"
We recently changed our travis setup to include a build matrix, producing builds like [this one](https://travis-ci.org/PennyDreadfulMTG/Penny-Dreadful-Tools/builds/389162327)

Unfortunately, TravisBuddy is able to get logs out of these kinds of builds, and leaves us with unsatisfying comments like [this](https://github.com/PennyDreadfulMTG/Penny-Dreadful-Tools/pull/4705#issuecomment-385146489)

[2018-06-07 14:55] bluzi commented on #109
Hey @silasary,

Thanks for creating this issue, this is not the first time we handle issues related to the different methods of configuration of scripts in `.travis.yml`.
For some reason, Travis offers super flexible configuration, and that makes it hard for us to handle all the possibilities.

Anyway, I'll fork your repository over the weekend so I can debug your configuration.

Thanks for report

[2018-06-07 14:56] bluzi commented on #108
Hey @Razzeee,

Pretty sure it's possible to do, I'll run some tests soon.

[2018-06-07 14:57] bluzi commented on #107
related to #108  - definitely agree that we should post build log in every status

[2018-06-07 23:25] jayvdb opened #110 "Detect same error already seen and dont dump dup log"
Often a PR keeps getting the same error for each push.
It would be more useful, and better performing, to note the error occurred again.

Even better would be the same detection across multiple PRs which suggests a build breakage has happened. When that logic is stable, the bot could create issues about build breakagees seen on PRs

[2018-06-07 23:28] jayvdb opened #111 "Create issue when master switches from green to red"
Whether triggered by a merge or by a travis cron, an issue about the first red build would be useful

[2018-06-07 23:32] jayvdb opened #112 "Add labels to show how many builds have been triggered by PR"
Useful to see who isnt testing locally.

[2018-06-09 10:04] bluzi commented on #112
That one is a bit tricky: TravisBuddy doesn't have the required permission to create labels

[2018-06-12 15:45] jayvdb commented on #112
The labels could be created by the repo owners, and have to match a basic pattern that travisbuddy can detect.

e.g. a repo might have labels

- PR build count - 1
- PR build count - 2
- PR build count - 3
- PR build count - 4
- PR build count - 5
- PR build count - 10
- PR build count - 20
- PR build count - 30
- PR build count - 40
- PR build count - 50
- PR build count - >50

[2018-06-12 15:52] jayvdb opened #115 "Add link to Travis log"
If the log excerpt is not sufficient, or the log except is missing (https://github.com/bluzi/travis-buddy/issues/109), it would be nice to have a link to the log on Travis.  This would help when looking at problems in old PRs where the travis build is no longer listed at the top of its PR list.

[2018-07-25 16:23] silasary commented on #109
Any luck reproducing this?

[2018-08-03 11:45] Rylon opened #116 "Job output not added to failure template"
Hi,

I'm running Travis Buddy locally so I can try it out with some private repositories - I have everything wired up between Travis and the bot, so when a build fails, I get a comment added to the PR with the initial text at the start "Hey @<author>, Please read the following log" etc, however the job content is missing.

I don't see any errors in the app logs. Do you have any suggestions on how

[2018-08-03 12:22] Rylon commented on #116
By the way, I tried using with or without the `insertMode=update` flag, and I tried the default and raw template. Current template is this:

[code]

I see everything except for the content in braces.

[2018-08-03 13:27] Rylon commented on #115
This would be nice, yes 👍

[2018-08-06 11:42] Rylon commented on #116
Hi, so actually it turns out this is working as expected - I hadn't connected the fact that I'm using g a private repo, and therefore going to Travis-ci.com means that the bit of code responsible for retrieving the build logs fails (as it tries to go to Travis-ci.org). The weird thing is that this section of the pipeline fails silently with no output, so it wasn't obvious to me at first what the p

[2018-08-06 11:42] #116 closed

[2018-08-17 03:19] jayvdb opened #117 "Dont report the same build failing multiple times"
Similar to https://github.com/bluzi/travis-buddy/issues/110 , but hopefully much easier.

https://github.com/coala/coala-quickstart/pull/296#issuecomment-413734533 shows an example of the exact same build failing.

The reason is I am pressing rebuild on Travis jobs of that build, as their is one which is a bit fiddly and needs a few restarts.  The same scenario will occur when Travis fails due to

[2018-08-17 13:13] jayvdb opened #118 "Report timeouts differently from errors"
Travis kills jobs when it doesnt see any activity like happened at:

https://travis-ci.org/coala/coala-quickstart/builds/417251612

This should give a different TravisBuddy message than when there is an error.

[2018-09-22 05:40] bluzi commented on #109
@silasary @bakert

Hey guys, sorry for leaving you hanging for so long, I was real busy in the last two months.
I'm glad to say I had a look and resolved the issue.

After the next deployment (about 30 minutes from now) you should start receiving valid comments from TravisBuddy.

I'll monitor your repository in the next few days to make sure everything is alright, but if you see something unexpect

[2018-09-22 05:45] bluzi commented on #115
Done and active in production

[2018-09-22 07:06] silasary commented on #109
Awesome, that works 😃
I have a feature request, to make the headings do variable expansion, but that's a separate, less important issue. I'll open a new issue for it

[2018-09-22 07:06] #109 closed

[2018-09-22 07:18] #115 closed

[2018-09-26 18:15] jjt opened #126 "Buddy's expression is a bit intense"
I feel like he wants to fight me, not help me

![image](https://user-images.githubusercontent.com/399469/46099757-823de500-c17c-11e8-9f29-3737f7669fc3.png)

[2018-09-26 22:44] bluzi commented on #126
Believe it or not, but this is not the first time I've heard of it :)
If someone wants to jump in and make the TravisBuddy mascot less intimidating, go ahead

[2018-09-28 12:00] Rylon commented on #115
Awesome, thanks @bluzi!

[2018-11-11 13:56] ehmicky opened #136 "Triggering Travis Buddy on failure only, without changing other webhooks"
Hi there, thanks for this great project!

I would like Travis buddy to create comments only when the Travis build is failing. The `README` suggests using `on_success: never`. However this does not work if there are other webhooks, as it will set `on_success` for them as well, which might not be desired.

For example my `.travis.yml` looks like:

[code]

[2018-11-11 20:07] bluzi commented on #136
Gotcha, I'll see what I can do

[2018-11-11 20:17] ehmicky commented on #136
Thanks for the quick reply @bluzi!

[2018-11-12 09:35] ehmicky commented on #136
I've tried under different scenarios (PR initial build had errors vs not, `insertMode` `append` vs `update`) and it works as I expected to.

Thanks a lot for this quick PR resolution!

[2018-11-12 09:35] #136 closed

[2018-11-12 16:54] SilleBille commented on #109
Just wanted to check on this. So, this feature will excerpt the logs from the failed job, right? What happens if there are multiple failing jobs in a matrix?

Or did I misunderstand the pipeline?

[2018-11-29 14:45] Rylon opened #140 "Is it possible to get the username of the commit?"
Hi,

We'd like to be able to notify the specific user who created the commit, rather than the author of the original Pull Request, so something like `Hi @{{commitUsername}},` instead of `Hi @{{pullRequestAuthor}},`. This is so collaborators on a pull request get notified by the bot if they break the build, rather than it notifying the original author of the PR who may be a different person.

Is th

[2018-12-04 16:43] Rylon commented on #140
Aha thanks for the clarification @bluzi in my case I wanted to make sure it was always the author of the commit, so `author` seemed like a logical thing to try, but when I updated the message templates to try it, I kept getting the full name in the format "Firstname Surname", so the rendered form would be `@Firstname Surname` which obviously didn't notify the right person. 😂

[2019-01-15 16:51] Zarel opened #144 "Error log not appearing"
Example:

https://github.com/Zarel/Pokemon-Showdown/pull/5107#issuecomment-454185847

We started getting this problem when switching from travis-ci.org to travis-ci.com.

[2019-01-15 22:31] bluzi commented on #144
Thanks, I'll have it checked

[2019-01-16 19:46] apjanke commented on #126
I see a new image as the avatar for https://github.com/travisbuddy.

![33237381](https://user-images.githubusercontent.com/2618447/51274532-6cf3fd00-199d-11e9-8212-347d6018b4da.png)

Looks friendlier! Should the repo and travisbuddy.com be updated to use it?

[2019-01-16 20:22] apjanke commented on #144
I saw the same issue on https://github.com/apjanke/octave-addons-chrono/pull/1, if that's helpful. In my first push to the PR, the log file didn't appear in the TravisBuddy comment. In a subsequent push, a link to a log file appeared, but the link was broken (it gave me the "Oops, we couldn't find that build!" Travis CI error page).

[2019-01-18 08:43] PikachuEXE commented on #117
I think I got another failure example
https://github.com/fnando/i18n-js/pull/472

[2019-01-18 14:50] Razzeee commented on #108
Were you able to figure this out? I know it has been some time.

[2019-01-18 16:37] Zarel commented on #144
I'm getting a link to the build log on newer pull requests, unfortunately the link doesn't work:

https://github.com/Zarel/Pokemon-Showdown/pull/5113#issuecomment-455563376

The link is to `travis-ci.org`, but the correct URL is `travis-ci.com`.

[2019-01-18 16:37] Zarel commented on #144
(Also, I'd prefer the log itself, rather than just a link.)

[2019-02-24 19:03] YashJipkate opened #146 "No comments by Travis Buddy on failure"
I recently attempted to use travis-buddy in my [repo](https://github.com/YashJipkate/oppia). I created a branch namely `tb` and made a [PR](https://github.com/YashJipkate/oppia/pull/6) to it from another branch namely `tbt1`. I modified the files so as to fail the tests. The tests fail as expected but there is no comment by the travis-buddy.
Kindly point me out if I am missing something somewhere.

[2019-04-15 15:10] Zarel commented on #144
I haven't heard any updates for a while. I'll disable TravisBuddy soon since it's not doing anything for my repo. But if you want me to do something else, I'd be happy to.

[2019-04-28 08:45] sladyn98 commented on #56
@bluzi Maybe we could start off with the change in the website.Make it more responsive with a react frontend, allowing users to enter tokens or authorise usage of TravisBuddy

[2019-05-18 14:20] ehmicky commented on #146
Same here. It used to work, but it does not anymore.

[2019-05-20 08:26] jbsouvestre opened #148 "Heroku app is down"
Hello, the heroku app seems to be down, and repositories are not getting comments from the travis bot

https://www.travisbuddy.com/

![image](https://user-images.githubusercontent.com/2359520/58007058-5394c600-7ae1-11e9-86a9-18f4d310367d.png)

Thanks in advance !

[2019-05-28 16:45] jbsouvestre commented on #148
Looks like it's back. Thanks

[2019-05-28 16:45] #148 closed

[2019-08-22 01:09] medyagh opened #150 "Feature request: custom path for the custom template"
first of all what a great great nice tool ! thank you so much ! I just added it to minikube and I love it !

secondly I have a feature request but I understand if it is not possible :)

I would like to be able to provide a template in a custom location, maybe hacks folder instead of root of the repo.

[2019-08-22 07:22] bluzi commented on #150
Hi @medyagh,

That makes complete sense, I think the best solution here is to also search for the template inside `.github` folder. I won't have time to do it in the near future unfortunately, but I'll get to it eventually and will let you know here once it's done. (Also, if someone wants to make a pull request, feel free)

[2019-08-30 08:19] aprilalice-hash opened #151 "Coinbase Support Phone Number +1-888-714-9777 For Any Issues of Crypto"
Amazing Site...Dial <a href="http://coinabsesupport.com/">Coinbase support customer service phone number</a> +1-888-714-9777 For Instant help & Support The <a href=" http://coinabsesupport.com/binance-support/"> Binance support phone number</a>  +1-888-714-9777 is something from which you can get help at any hour of the day as we provide the support 24/7. <a href="http://coinabsesupport.com/binanc

[2019-09-25 15:58] medyagh opened #152 "log all failed builds (in case of more than 1 build)"
I was experimenting to make parallel builds in travis, I had 3 out of 4 builds failed, but travis buddy only commented on the 3rd build

could we make travisbuddy to comment about all the failed builds not the last found failed build?

[2019-09-25 17:26] medyagh commented on #152
intrestingly in my other builds it did the right thing. it mus be flake on travis side. closing.
related PR for future reference.
https://github.com/kubernetes/minikube/pull/5459

[2019-09-25 17:26] #152 closed

[2019-09-25 23:06] medyagh opened #153 "Travis buddy still comments on success even though I set"
it used to work fine, I did some changes in my travis yaml and since then travis buddy comments on success:

here is the full travis yaml

https://github.com/kubernetes/minikube/blob/115fc4fd9507a97e3428bbfe57c393ef8510fcff/.travis.yml

which has this in the end
[code]

any idea how I can make it not comment on success ?

[2019-09-25 23:26] bluzi commented on #153
Hello,

That looks like a bug in TravisCI or a misconfiguration on your side, since `on_success: never` should tell TravisCI to never trigger notifications for successful builds.

That said, TravisBuddy has a way of handling this, you can use the `only` query parameter, like this:

[code]

This will tell TravisBuddy to create comments only for builds with status `failed` or `errored`.

Let me know

[2019-09-26 17:44] medyagh commented on #153
thank you for such a fast response ! that does sound like a Travis-ci's fault that should have not even pinged travis-buddy.

its good that travis buddy has a filter for it.

[2019-09-26 17:53] bluzi commented on #153
You're welcome, TravisCI has several issues like that and I feel like being able to handle those issues is part of TravisBuddy's job :)

[2019-09-26 18:20] #153 closed

[2019-10-04 18:32] medyagh opened #154 "Feature Request: a way to "grep" failure message for long logs"
if the logs of a failed build is too long it just becomes broken and after you scroll down much you will just see empty spaces:
example:

https://github.com/kubernetes/minikube/pull/5530#issuecomment-538506163

I know I have seen this on github before, so it is a browser/github issue, however it would be nice to be able to configure travis-buddy to be able to grep for "Error or Failure"

I would r

[2019-10-04 20:46] medyagh commented on #154
Ah my bad I didn't check that this was already implemented by regex

[2019-10-04 20:46] #154 closed

[2019-10-04 21:27] medyagh opened #155 "can't make regex option to work"
I try
[code]
and I still get the full log: https://github.com/kubernetes/minikube/pull/5530#issuecomment-538564946

I had tried with double quotes but it makes the yaml to error for escape problems, and would cause the travis job not run at all.

any tips that I could make travis-buddy only return matching lines ?

[2019-11-01 23:10] findepi commented on #146
@bluzi can it be that Buddy works for travis-ci.org and doesn't for travis-ci.com?

@YashJipkate's https://github.com/YashJipkate/oppia uses .com

[2019-11-01 23:15] findepi commented on #146
Perhaps this would need to know whether this is `travis-ci.org` or `.com` build:

https://github.com/bluzi/travis-buddy/blob/7edaef2cd643ff706874c74c848ef160bee3c08e/pipes/fetch-build-logs.pipe.js#L7

[2020-01-21 08:18] mprins opened #160 "Creates links to wrong Travis-CI site / non-existent builds"
TravisBuddy creates links to log files and builds that don't exist.

Some time ago Travis [announced to move everything to their .com domain](https://blog.travis-ci.com/2018-05-02-open-source-projects-on-travis-ci-com-with-github-apps), I have recently moved all our open source projects over and am [now looking at TravisBuddy](https://github.com/B3Partners/brmo/pull/780). I see TravisBuddy generat

[2020-01-24 15:10] bluzi commented on #160
Thanks @mprins, I've fixed it here: https://github.com/bluzi/travis-buddy/commit/1a06d327b7a1e55a840cd106715c52a636102bfc

[2020-01-24 15:10] #160 closed

[2020-09-01 12:43] devkapilbansal commented on #146
Same here, I use webhooks but travis buddy don't make a comment on the pull request

[2020-11-19 17:49] devkapilbansal opened #169 "Migrating travisbuddy to travis-ci.com from travis-ci.org"
Hi @bluzi , Travisbuddy proves to be very powerful and easy for beginners like me to know why the build is failing easily. But, Travisbuddy uses `travis-ci.org` hard-coded APIs and not comment on the `travis-ci.com`. Can you please look into this for travisbuddy to support `travis-ci.com` too